<body>
<h1>Produtos</h1>

<form method="GET">
    <input type="text" name="nome" placeholder="Buscar por nome" value="{{ request.GET.nome }}">
    <input type="number" name="preco_min" placeholder="Preço mínimo" step="0.01" value="{{ request.GET.preco_min }}">
    <input type="number" name="preco_max" placeholder="Preço máximo" step="0.01" value="{{ request.GET.preco_max }}">
    <button type="submit">Filtrar</button>
</form>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% for produto in products %}
<h2><img style="width: 300px; height: 200px; " src="{{produto.image.url}} " alt=""> {{produto.product_name}} - R$
    {{produto.price}} - {{produto.quantity}} - {{produto.description}}</h2>
{% endfor %}

{% if page_obj.has_previous %}
<a href="?page=1">&laquo; primeira</a>
<a href="?page={{ page_obj.previous_page_number }}">anterior</a>
{% endif %}
<span>
            Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
</span>
{% if page_obj.has_next %}
<a href="?page={{ page_obj.next_page_number }}">Próxima</a>
<a href="?page={{ page_obj.paginator.num_pages }}">Última &raquo;</a>
{% endif %}

<div>
    <a href="{% url 'product_create' %}">Criar Produto</a>
</div>

</body>